header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
}

#footer-links {
    display: flex;
    justify-content: space-between;
}