html {
    height: 100%;
    font-family: Arial, sans-serif
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    margin: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-lhs-links {
    float: left;
}

#footer-rhs-links {
    float: right;
}
